@import "../variables.scss";




.empty_product_view{
    display:flex;
    justify-content: center;
    align-items: center;
    width:150px;
    height:150px

}
.product_list_container{
  background-color: white;
          padding: 5px 5px 5px 5p;
          width: 90;
          margin-top: 55px;
          margin-left: 5;
          display: flex;
          flex-direction: column;
}

.pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2ch;
  margin-bottom: 2rem;
  background-color: white;

}

  
  input {
    width: 100%;

  
    padding: 5px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
    
   
  }
  
input:focus{
    outline: none;
  }
  @media screen and (max-width: 767px) {
    .product_list_container{
     
              margin-top: 10px;
              margin-left: 5;
           
    }
  }
 
 