@import "../variables.scss";

a {
  text-decoration: none;
  margin: 0;
}

.playground_height {
  height: 100%;
}

.back_text {
  font-size: $font-16;
  color: #aaa;
  text-align: left;
  cursor: pointer;
  margin: 0;
  text-decoration: none;
}

.back_text:hover {
  color: $accentColor;
  transition: color 0.3s;
}

.width {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
}

.product_list_without_summary_wrapper {
  margin-top: 20px;
  background-color: white;

 
}



.product_img_container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 400px;
  width:400px;
  
  

}
.business_img_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    border-radius: 8px;
    height: 100px;
    width:100px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
    padding: 5px;
  }
  

.product_img {
  width: 100%;
  height:100%;
  border-radius: 8px;
}

.product_name {
  font-size: 30px;
  font-weight: $medium;
  color: #14142B;
  margin: 0;
}

.ordered_from {


  word-break: break-all;
  font-size: $font-14;
  color: #6c752d;


  .bold {
    font-weight: $medium;
  }
}

.product_description {
  font-size: $font-14;
  color: $secondaryColor;
  margin: 0;
  color: $primaryColor;
}

.product_price {
  font-size: 26px;
  font-weight: $medium;
  color: #212529;

}




.add_to_cart_button {
  width: 180px;
  height: 40px;
  background-color: $white;
  border: 1px solid $accentColor;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-14;
  font-weight: $medium;
  background-color: $accentColor;
  color: $white;
}

.add_to_cart_button:hover {
  background-color: $accentColor;
  color: $white;
  transition: all 0.3s;
}

.quantity_count_wrapper {
  width: 180px;
  height: 40px;
  background-color: $accentColor;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity_count_wrapper > div {
  width: 40px;
  height: 35px;
}

.subtract_svg_color,
.add_svg_color {
  fill: $white;
}

.subtract_svg_wrapper {
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
  cursor: pointer;
}

.subtract_svg_wrapper:hover {
  background-color: rgba($white, $alpha: 0.75);
  transition: all 0.3s;
  .subtract_svg_color {
    fill: $accentColor;
  }
}

.add_svg_wrapper {
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
  cursor: pointer;
}

.add_svg_wrapper:hover {
  background-color: rgba($white, $alpha: 0.75);
  transition: all 0.3s;
  .add_svg_color {
    fill: $accentColor;
  }
}
.products_header_view{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.same_provider_product_view{
 width: 90%;   
 margin-left: 5%;
display: flex;
flex-direction: row;
justify-content: space-evenly;
overflow-x: scroll;
}

.quantity_count {
  font-size: $font-14;
  font-weight: $medium;
  color: $white;
  text-align: center;
  margin: 0;
}
.prodcut_details_key{
  font-size: 15px;
  color:#265f98
}
.prodcut_details_value{
  font-size: 16px;
  color:#6f757b;
  margin-left: 10px;
}
.left_container{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin-top: 50px;
}
.right_container{
  display: flex;
  flex-direction: column;

  justify-content: center;
  margin-top: 80px;

 }
.full_container{
  width:80%;margin-left:10%
}
.no_delivery{
  display:flex;justify-content:center;background-color:#ee9a94;align-items:center;padding-top:3px;border-radius:8px;width:180px;height:40px
}
.no_delivery_text{
  
    font-size: $font-16;
    font-weight: $semibold;
    color:$white ;
   
   


  
}
@media screen and (max-width: 767px) {
 .product_img_container{
  height: 300px;
  width:300px;
 }

.left_container{

  margin-top: 0px;
 }
 .right_container{
   display: flex;
   flex-direction: column;
 
   justify-content: center;
   margin-top: 0px;
   margin-right:0px;
  }
}
