@import "../../styles/variables.scss";

.form_label {
  font-size: $font-14;
  font-weight: $medium;

  color: #636772;
  padding-left: 0.8rem;
}

.formControl {
  font-size: $font-14;
  font-weight: 400;

  color: #626776;
  background-color: white;

  padding: 1rem 1rem 1rem 1rem;
  border-bottom: none;
}

.input_wrapper {
}

.required:after {
  content: " *";
}
