@import "../../assets/scss/variables.scss";

.cart_items_order_summary_wrapper {
  position: fixed;
  left: 0;
  right: 0;

  width:45%;
  top:10%;
  height:80%;
  left:27%;
  background-color:white;
  box-shadow: -10px 0 20px 0 rgba(0, 0, 0, 0.15);
  z-index: 0;
  border-radius: 7px;
  overflow-y: scroll;
  animation: slideOnWeb 0.5s ease forwards;
}
hr

{
    width: 100%;
}
.label {
    font-size: $font-24;
    font-weight: $semibold;

    color: $primaryColor;
    margin: 0;
  }
  .label1 {
    font-size: $font-16;
    font-weight: $regular;

    color: $primaryColor;
    margin: 0;
  }

.header{
    display: flex;
    flex-direction: row;
     align-items: center;
    
    width:80%;
    margin-left: 12%;
    margin-right: 10%;
    margin-top: 25px;
   
}
.itemCount{
    display: flex;
    flex-direction: row;
     justify-content: space-around;
     margin-bottom: 10;
   
}
.cart_items_wrapper{
  display: flex;
  flex-direction: column;
  width:90%;
 margin-left: 5%;
 margin-bottom: 25px;
 
}
.item_wrapper{
    padding-top: 10px;
}
.bottomButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    bottom: 20px;
    
}