@import "../variables.scss";

.cart_container{
    width:90%;
    margin-left: 5%;
    margin-top: 9%;
    

}
.empty_cart_container{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty_cart_text{
    font-size: $font-18;
    font-weight: $semibold;
    
}
.empty_cart_image_container{
    width:250px;
    height:200px;

}

.cart_header{
    display: flex;
    justify-content: space-between;
 
}

.header_text{
    color:$textPrimaryColor;
    font-size: $font-20; 
    font-weight: $semibold;
    span{
        font-size: $font-14; 
        font-weight: $regular;  
        color:$textLigthColor;
    }
}

.price_container{
    margin-left: 1.6rem;
    background-color:$backgroundTheme;
    box-shadow:1px 1px 3px 0px rgb(221, 210, 210);
    display:flex;
    align-items: center;
    flex-direction :column;
    justify-content: center;
    padding: 1.6rem 1.6rem 1.6rem 1.6rem;
   
    

}
.cart_summary_text{
    font-size: 1.8rem;
    font-weight: $medium;
    color:$textPrimaryColor
}
.cart_desc_text{
    font-size: 1.4rem;
    font-weight: $regular;
    color:$textLigthColor
}
.total_continer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
    border-bottom:1px solid rgb(239, 236, 236)

}
.total_item_text{
    font-size: 1.4rem;
    font-weight: $regular;
    color:$textPrimaryColor
}

.go_to_products_button{
    width:200px;
    height: 35px;
    
    border: 1px solid $secondaryColor;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:$font-16;
    font-weight: $semibold;
    background-color: $secondaryColor;
    color: $backgroundTheme;
}
.go_to_products_button :hover{
    background-color: #dd468a;
    border: 1px solid #dd468a;
    color: $backgroundTheme;
    transition: all 0.3s;
}

.checkout_button{
    width:200px;
    height: 35px;
    
    border: 1px solid $secondaryColor;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:$font-16;
    font-weight: $semibold;
    background-color: $secondaryColor;
    color: $backgroundTheme;
}
.checkout_button_container{
    margin-top: 6rem;
    margin-left: 2rem;
}
@media screen and (max-width: 707px) {
    .price_container{
        margin-left: 0rem;
         margin-top:30px;
         box-shadow: 0px 0px 0px 0px ;
     
    
    }
    .cart_container{
        width:98%;
        margin-left:2%;
        margin-top: 17%;

    
    }
}