@import "../variables.scss";

.overlay {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba($primaryColor, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fade 1s ease forwards;
    z-index: 1;
  }
  
  .popup_card {
    min-width: 70%;
    max-width: 90%;
    background-color: $white;
    border-radius: 10px;
    max-height: 80%;

    opacity: 1;
    animation: slide 0.5s ease forwards;
  }
  
hr

{
    width: 100%;
}
.label {
    font-size: $font-20;
    font-weight: $semibold;

    color: rgb(15, 13, 13);

    padding:25px;
  }
 

.header{
    display: flex;
    flex-direction: row;
     align-items: center;
    justify-content: space-between;
    width:100%;
    
    background-color:white;
   
}
.itemCount{
    display: flex;
    flex-direction: row;
    justify-content: end;
     margin-bottom: 40px;
     margin-right: 40px;
    
   
}
.cart_items_wrapper{
  display: flex;
  flex-direction: column;
  width:100%;
  overflow: auto;
  height:400px;
 
}
.item_wrapper{
    padding-top: 10px;
}
.bottomButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left:5%;
  
    
}
.label1{
  font-size: $font-20;
    font-weight: $semibold;

    color: rgb(15, 13, 13);



}

  .cance_text{
    
    font-family: $firaSans;
    font-size: $font-18;
    font-weight: $medium;
    text-align: left;
    color: rgb(44, 44, 107);
    margin: 0;
  }
  .cance_text:hover{
    
   
    color: rgb(45, 45, 206);
   
  }

.total_price{
  font-size: $font-20;
  font-weight: $semibold;
  margin-left: 10px;
  color: rgb(10, 28, 221);
}
.table_image{

  
    thead {
      td, th {
        border: 0;
        color: #666;
        font-size: 1.0rem;
      }
    }
    
    td, th {
      vertical-align: middle;
      text-align: center;
      
      &.qty {
        max-width: 2rem;
        margin-left: 3rem;
      }
    
  }
  
  .add_svg_color {
    fill: white;
  }
  .qty_label {
    font-size: $font-20;
    font-weight: $semibold;

    color: white;
    align-items: center;

  }
}
