@import "../variables.scss";
.cart_item_container{
    display: flex;
    align-items: flex-start;
    gap:3.5rem;
background-color: rgb(255, 255, 255);
    padding:3.0rem 2.4rem 2.0rem 3.4rem;
    box-shadow:1px 1px 3px 0px rgb(221, 210, 210);
    margin-top: 1rem;

}

.image_container{
    max-width:13.6rem;
    max-height: 15.6rem;
    min-width:3rem;
    min-height:5rem;
   margin-top:2rem
   



}
.image_style{
    width:100%;
    height:100%;
    object-fit: cover;
}
.item_details_container{
 
    padding:0rem 2.4rem 1.2rem 2.4rem;
    flex-grow: 2;

    

}
.item_name_text{
    font-size: 1.7rem;
    font-weight: $semibold;
    color:#3D4152
}
.seller_text{
    font-size: 1.4rem;
    font-weight: $regular;
    color:#71768a 
}
.price_container{
    display: flex;
    align-items: baseline;
    margin-top: 20px;
}
.single_item_price_container{
  display: flex;
  align-items: baseline;
  margin-top: 20px;
}
.price_text{
    font-size: 1.6rem;
    font-weight: $semibold;
    color: #3D4152
}
.edit_address_text{
  font-size: $font-16;
  font-weight: $semibold;
  text-align: left;
  color: #f86c08;
  margin: 0;
  cursor: pointer;
}
.delivery_info_text{
    font-size: 1.4rem;
    font-weight: $medium;
    color:#3D4152
}
.quantity_count_wrapper {
   
   margin-top: 20px;
    width:70px;
    height: 25px;
    background-color:white;
  
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .quantity_count_wrapper > div {
    width: 40px;
    height: 35px;
  }
  
  .subtract_svg_color,
  .add_svg_color {
    fill: #979aa1;
  }
  
  .subtract_svg_wrapper {
    fill: #979aa1;
    cursor: pointer;
  }
  
  .subtract_svg_wrapper:hover {
    background-color: rgba($white, $alpha: 0.75);
    transition: all 0.3s;
    .subtract_svg_color {
      fill:  #2e3c7e;
    }
  }
  
  .add_svg_wrapper {
  
    cursor: pointer;
  }
  
  .add_svg_wrapper:hover {
    background-color: rgba($white, $alpha: 0.75);
    transition: all 0.3s;
    .add_svg_color {
      fill: #2e3c7e;
    }
  }
  .quantity_count {
    font-size: $font-14;
    font-weight: $medium;
    color: #979aa1;
    text-align: center;
    margin: 0;
  }
  .cart_actions{


    display: flex;
      justify-content: space-between;
     background-color: #f8f8f8;
    justify-content: baseline;
    padding:0rem 1.5rem 0rem 1.5rem;
    border-radius: 0.2rem;
   
  }
  .quantity_text{

        font-size: $font-16; 
        font-weight: $regular;  
        color:#6d728a;
    
}
  .remove_text{
    font-size: $font-16;
    font-weight: $regular;
    color:#DC3545;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
  }
  .remove_text:hover{
    color:#e71228
  }
.delivery_details_container{
 padding-right: 1rem;
}
@media screen and (max-width: 707px) {
  .cart_item_container{
  
    padding:2.0rem 2.4rem 1.0rem 2.4rem;


}
.single_item_price_container{
  display: none;
}

}