$primaryColor: #f86c08;
$secondaryColor: #2e3c7e;
$successColor: green;
$textPrimaryColor: #3d4152;
$textLigthColor: #5e6067;
$errorColor: #dc3545;
$backgroundTheme: #ffffff;
$lightTheme: #f8f8f8;
$cancelTextColor: rgb(90, 90, 167);

$font-10: 1rem;
$font-12: 1.2rem;
$font-14: 1.4rem;
$font-16: 1.6rem;
$font-18: 1.8rem;
$font-20: 2rem;
$font-24: 2.4rem;
$font-28: 2.8rem;
$font-32: 3.2rem;

$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 800;

$firaSans: "Fira Sans", sans-serif;
