@import "../../assets/scss/variables.scss";
.order_list_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh-60px);
}
.order_list_label_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.list_label_text{
  
        font-family: $firaSans;
        font-size: $font-20;
        font-weight: $medium;
        text-align: left;
        color: $primaryColor;
        margin: 0;
      
}
.order_card_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    width:50%;

  
    
}