@import "../../variables.scss";



.card_body {
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 height:auto;

  .card_body_text {
    font-size: $font-14;
    text-align: left;
    color: $secondaryColor;
    margin: 0;
  }
}

.card_footer {
  padding: 20px 25px;



  display: flex;

   justify-content: space-around;
 
   align-items: center;
}
.input_style{
  border-top:0px solid;
  border-left:0px solid;
  border-right:0px solid;
  outline:none;
  border-radius:0px;
  background-color: yellow;
}

.modal_input_wrappper {
  width: 100%;
  border-radius: 8px;
  border: 1px solid $secondaryColor;
}



.dropdown_link_wrapper {
  padding: 15px;
  cursor: pointer;
}

.dropdown_link {
  font-size: $font-14;
  color: $primaryColor;
  margin: 0;
}

.dropdown_link_wrapper:hover {
  background-color: rgba($accentColor, 0.15);

  .dropdown_link {
    color: $accentColor;
    font-weight: $medium;
    transition: all 0.3s;
  }
}

.location_name {
  font-size: $font-12;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: $medium;
  color: $white;
  margin: 0;
  word-break: break-all;
}

.location_description {
  width: 100%;
  font-size: $font-10;
  color: $white;
  margin: 0;
  word-break: break-all;
  padding-top: 5px;
}

.empty_state_text {
  font-size: $font-14;
  text-align: center;
  color: $secondaryColor;
  margin: 0;
}

.formControl {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  font-size: $font-14;
  font-weight: 400;
  line-height: 1.5;
  color: $primaryColor;
  background-color: transparent;
  border: 0;
}

.formControl:focus,
.error:focus {
  outline: none;
}

.error {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
  font-size: $font-14;
  font-weight: 400;
  line-height: 1.5;
  color: $primaryColor;
  background-color: transparent;
  border: 1px solid $error;
  border-radius: 10px;
  border: 0;
}

.error::placeholder {
  font-size: $font-12;
  text-align: left;
  color: $error;
}

.formControl::placeholder {
  font-size: $font-12;
  text-align: left;
  color: $secondaryColor;
}

.address_form_wrapper {
 
  max-width: 600px;
}

.search_type_wrapper {
  padding: 10px 20px;
  border-radius: 36px;
  border: 1px solid $secondaryColor;
  cursor: pointer;
}

.search_type_wrapper:hover {
  background-color: $accentColor;
  border: 1px solid $accentColor;
  transition: all 0.3s;

  .search_type_value {
    color: $white;
  }
}

.search_type_value {
  margin: 0;
  font-size: $font-14;
  color: $secondaryColor;
  text-align: center;
}

.active_search_type {
  padding: 10px 20px;
  border-radius: 36px;
  background-color: $accentColor;
  border: 1px solid $accentColor;

  .search_type_value {
    color: $white;
  }
}

.category_drodpwon_wrapper {
  background: $accentColor;
  border-radius: 7px;
  cursor: pointer;
  padding: 5px 10px;
}

.search_type_text {
  font-size: $font-14;
  color: $white;
  margin: 0;
}

.cancel_dropdown_wrapper {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid $secondaryColor;
  border-radius: 10px;
}

.cancel_dropdown_label_text {
  font-size: $font-14;
  font-weight: $medium;
  text-align: left;
  color: $primaryColor;
  margin: 5px;
}

.cancel_dropdown_text {
  font-size: $font-14;
  font-weight: 400;
  line-height: 1.5;
  color: $primaryColor;
  margin: 0;
}

.cance_text{
    
  font-family: $firaSans;
  font-size: $font-18;
  font-weight: $medium;
  text-align: left;
  color: blue;
  margin: 0;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide {
  from {
    margin-bottom: 50px;
    opacity: 0;
  }
  to {
    margin-bottom: 0;
    opacity: 1;
  }
}
