@import "../../variables.scss";

.card_body {
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;

  .card_body_text {
    font-size: $font-14;
    text-align: left;
    color: $secondaryColor;
    margin: 0;
  }
}
.map_address_select {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2rem;
  cursor: pointer;
}
.map_address_select_text {
  font-size: $font-14;
  text-align: left;
  color: $primaryColor;
}
.card_footer {
  padding: 20px 25px;

  display: flex;

  justify-content: center;
  gap: 4rem;

  align-items: baseline;
}

.dropdown_link_wrapper {
  padding: 15px;
  cursor: pointer;
}

.dropdown_link {
  font-size: $font-14;
  color: $primaryColor;
  margin: 0;
}

.location_name {
  font-size: $font-12;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: $medium;
  color: $backgroundTheme;
  margin: 0;
  word-break: break-all;
}

.location_description {
  width: 100%;
  font-size: $font-10;
  color: $backgroundTheme;
  margin: 0;
  word-break: break-all;
  padding-top: 5px;
}

.empty_state_text {
  font-size: $font-14;
  text-align: center;
  color: $secondaryColor;
  margin: 0;
}

.formControl {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  font-size: $font-14;
  font-weight: 400;
  line-height: 1.5;
  color: $primaryColor;
  background-color: transparent;
  border: 0;
}

.formControl:focus,
.error:focus {
  outline: none;
}

.error {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
  font-size: $font-14;
  font-weight: 400;
  line-height: 1.5;
  color: $primaryColor;
  background-color: transparent;
  border: 1px solid $errorColor;
  border-radius: 10px;
  border: 0;
}

.error::placeholder {
  font-size: $font-12;
  text-align: left;
  color: $errorColor;
}

.formControl::placeholder {
  font-size: $font-12;
  text-align: left;
  color: $secondaryColor;
}

.address_form_wrapper {
  max-width: 600px;
}

.save_button {
  width: 200px;
  height: 40px;

  border: 1px solid $secondaryColor;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-16;
  font-weight: $semibold;
  background-color: $secondaryColor;
  color: $backgroundTheme;
}
.save_button_container {
  margin-top: 2rem;
}
.search_type_value {
  margin: 0;
  font-size: $font-14;
  color: $secondaryColor;
  text-align: center;
}

.cance_text {
  font-family: $firaSans;
  font-size: $font-18;
  font-weight: $medium;
  text-align: left;
  color: $cancelTextColor;
  margin: 0;
}
.cance_text:hover {
  color: $cancelTextColor;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide {
  from {
    margin-bottom: 50px;
    opacity: 0;
  }
  to {
    margin-bottom: 0;
    opacity: 1;
  }
}
