@import "../../variables.scss";

.radio_button_wrapper {
  background-color: transparent;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  gap: 3rem;
  padding: 1.5rem 1.5rem 1.5rem 1rem;
  cursor: pointer;
}

.name_basis {
  flex-grow: 1;
}

.radio_button_wrapper:hover,
.edit_button:hover {
  background-color: #e8fcf2;
  transition: background-color 0.3s;
}

.radio_button_background {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $backgroundTheme;
  border: 1px solid $successColor;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 0;
}

.active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e8fcf2;
  border: 0;
}

.non_active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $backgroundTheme;
  border: 0;
}

.edit_address_text {
  font-size: $font-16;
  font-weight: $semibold;
  text-align: left;
  color: $primaryColor;
  margin: 0;
}
@media screen and (max-width: 480px) {
  .radio_button_wrapper {
    gap: 1rem;
  }
}
