@import "../../variables.scss";
.address_card {
  width: 100%;
  background-color: $backgroundTheme;

  height: auto;
  margin-top: 90px;
}
.address_card_header {
  display: flex;
  justify-content: start;
  border-bottom: 1px solid rgb(237, 228, 228);
}
.address_card_header_title {
  font-family: $firaSans;
  font-size: $font-24;
  font-weight: $semibold;
  text-align: left;
  color: $textPrimaryColor;
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.card_body {
  padding: 20px 25px;
  border-bottom: 1px solid rgba($secondaryColor, 0.15);
  height: auto;
  .card_body_text {
    font-size: $font-14;
    text-align: left;
    color: $secondaryColor;
    margin: 0;
  }
}

.card_footer {
  padding: 20px;

  .card_body_text {
    font-size: $font-14;
    text-align: left;
    color: $secondaryColor;
    margin: 0;
  }
}
.price_container {
  margin-left: 6.5rem;
  background-color: $backgroundTheme;
  box-shadow: 1px 1px 3px 0px rgb(221, 210, 210);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1.6rem 1.6rem 1.6rem 1.6rem;
}
.cart_summary_text {
  font-size: 1.8rem;
  font-weight: $medium;
  color: $textPrimaryColor;
}
.cart_desc_text {
  font-size: 1.4rem;
  font-weight: $regular;
  color: $textLigthColor;
}
.total_continer {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: center;
  padding: 1.2rem 1.2rem 1.2rem 1.2rem;
}
.item_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1.2rem 1.2rem 1.2rem 1.2rem;
}
.cart_items_summary {
  width: 100%;
  border-bottom: 1px solid rgb(239, 236, 236);
}
.item_text {
  font-size: 1.5rem;
  font-weight: $regular;
  color: $textPrimaryColor;
}
.total_item_text {
  font-size: 1.5rem;
  font-weight: $semibold;
  color: $textPrimaryColor;
}

.continue_button {
  width: 200px;
  height: 35px;

  border: 1px solid $primaryColor;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-16;
  font-weight: $semibold;
  background-color: $primaryColor;
  color: white;
}
.continue_button_container {
  margin-top: 5rem;
}
.add_address_wrapper {
  background-color: transparent;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgb(237, 228, 228);
}
.saved_address_header {
  background-color: transparent;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.add_address_text {
  font-size: $font-14;
  font-weight: $medium;
  color: $textPrimaryColor;
  margin: 0;
}

@media screen and (max-width: 707px) {
  .address_card {
    width: 100%;
    background-color: $backgroundTheme;

    height: auto;
    margin-top: 40px;
  }
  .price_container {
    margin-left: 0rem;
    margin-top: 1rem;
    box-shadow: 0px 0px 0px 0px;
  }
}
