.wrap{
   
 
    display: flex;
    justify-content: center;
    align-items: center;
   width:90%;
   margin-left: 5%;
   

  }
  .input_style{
    background-color:white;
    width: 350px;
  }
  @media screen and (max-width: 780px) {
    .input_style{
    
      width: 200px;
    }
  }