@import "../../styles/variables.scss";

.overlay {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(#282c3f, 0.5);
  display: flex;
  align-items: center;
  justify-content: left;
  animation: fade 1s ease forwards;
  z-index: 1002;
}

.popup_card {
  width: clamp(350px, 50%, 500px);
  background-color: $backgroundTheme;

  height: 100%;
  display: flex;
  flex-direction: column;

  opacity: 1;
  // animation: slide 0.5s ease forwards;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}
.current_address_wrapper {
  position: fixed;
  bottom: 0px;

  padding: 2rem 2rem 2rem 2rem;

  width: 35rem;
}
.map_wrapper {
  flex-grow: 2;
}
.confirm_button {
  width: 200px;
  height: 35px;

  border: 1px solid $primaryColor;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-16;
  font-weight: $semibold;
  background-color: $primaryColor;
  color: $backgroundTheme;
}
.confirm_button_container {
  margin-top: 2em;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}
.address_header {
  font-size: 1.7rem;
  font-weight: 600;
  color: $textPrimaryColor;
}
.address_text {
  font-size: 1.5rem;
  font-weight: 500;
  color: $textLigthColor;
}
.first_text {
  font-size: 16px;
  font-weight: 400;
  color: $textPrimaryColor;
}
.first_text:hover {
  color: $primaryColor;
}
.second_text {
  font-size: 13px;
  font-weight: 300;
  color: $textPrimaryColor;
}

@media screen and (max-width: 480px) {
  .current_address_wrapper {
    width: 30rem;
  }
}
