@import "../../styles/variables.scss";

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.active_page {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $secondaryColor;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .page_number {
    color: $backgroundTheme;
  }
}

.page_wrapper {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page_wrapper:hover {
  background-color: $secondaryColor;
  transition: background-color 0.3s;

  .page_number {
    color: $backgroundTheme;
  }
}

.page_anchor {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page_anchor:hover {
  background-color: rgba($secondaryColor, $alpha: 0.3);
  transition: background-color 0.3s;
}

.page_number {
  font-size: $font-14;
  color: $secondaryColor;
}

.arrow_left {
  transform: rotate(90deg);
}

.arrow_right {
  transform: rotate(-90deg);
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: no-drop;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page_number {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: $secondaryColor;
  display: flex;
  justify-content: center;

  padding-top: 3px;
}
.page_number_inactive {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: $backgroundTheme;
  display: flex;
  justify-content: center;

  padding-top: 3px;
}
.page_number_text {
  color: $backgroundTheme;
  font-size: $font-14;
  font-weight: $semibold;
}
.page_number_text_inactive {
  color: black;
  font-size: $font-14;
  font-weight: $semibold;
}
